
<div class="profile">
    <div class="content container" id="userInfo">
        <div class="row" id="profileInfo">
            <div class="col-md-4 col-xs-6" id="userInformation">
                <img class="img-responsive" src="<%= @userId.avatar_url %>">
            </div>
            <div class="col-md-8 col-xs-6">
                <span><h2 id="username"><%= @userId.username %></h2></span>
                    
                <div class="user-stats">
                    <span id="postNum"><h5><b><%= @user_posts.count %></b> 
                        <% if @user_posts.count == 1 %> 
                            post 
                        <% else %> 
                            posts 
                        <% end %> 
                    </h5></span>
                    <span id="follow"><h5><b><%= @userId.followers_count%></b> followers</h5></span>
                    <span id="follow"><h5><b><%= @userId.following_count%></b> following</h5></span>
                </div>
                <div class="bio">
                    <h5><%= @userId.bio %></h5>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content container" id="userpagePosts">
        <div class="row" id="userposts">
            <% if @user_posts %>
                <% @user_posts.each do |post| %>
                    <div class="col-md-4 col-sm-6 col-xs-12" id="indivPosts">
                        <img class="img-responsive" src="<%= post.photo_url %>">
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>